celery
pytest-celery
vine==1.3.0
fastapi>=0.16.0
python-multipart
requests
amqp
sqlalchemy
psycopg2-binary
typing_extensions
pytest
hypothesis
coverage
pytest-cov
pytest-instafail
pytest-picked
pytest-xdist
pyjwt
pytest-benchmark
fakeredis
pytest-clarity
